       
        
        <div class="row">
                
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <img id="profilePic" onerror="this.src='profile/default.jpg'" src="profile/{{{user._id}}}.jpg" alt="" class="img-rounded img-responsive" />
                Upload your profile picture(.jpg)
               
               




<form id="picForm" enctype="multipart/form-data" action="/myinfo" method="post">
<label class="input-group-btn">
                    <span class="btn btn-warning">
                        Choose File  <input  style="display:none;" class="btn-info" onchange="autosubmit()" id="picUpload" type="file" name="pic" accept="image/jpeg" multiple/>

                    </span>
                </label>
  
  <a id="form_output" class="btn btn-success hidden"></a>
</form>


            </div>
            <div class="col-sm-4">
               <button class="btn btn-info btn-block" id="editBtn" onclick="updateMyinfo()">Edit</button>
                <button class="btn btn-danger btn-block hidden" onclick="saveMyInfo()" id="saveBtn">Save</button>
               <form id="updateInfoForm" class="form-horizontal" method="post" action="/updateMyinfo">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input id="inputName" type="text" class="form-control" value="{{{user.name}}}" name="name" id="name"  placeholder="Enter your Name" disabled/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input id="inputEmail" type="email" class="form-control" value="{{{user.email}}}" name="email" id="email"  placeholder="Enter your Email" disabled/>
								</div>
							</div>
						</div>

						
					</form>

                
            
            </div>
            
        </div>